<?xml version="1.0"?>
<configuration>
  <location path="AddtoCartConfirmation.aspx">
  <system.web>
    <authorization>
      <deny users="?"/>
    </authorization>
  </system.web>
   </location>


  <location path="Sellsmanagement.aspx">
    <system.web>
      <authorization>
        <allow roles="Manager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
  
</configuration>
